@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Source+Code+Pro:wght@400;500;600;700;900&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
	background-color: rgb(229, 229, 229);
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

/*-------------------HEADER---------------------*/

header{
	display: flex;
	justify-content: center;
	align-content: center;
	background-color:rgb(255, 253, 253);
	height: 10vh;
	flex-direction: column;
}

.head-title {
	text-align: center;
	color: rgb(79, 79, 79);
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	background-color:rgb(255, 253, 253);
}

.btnContainer {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 10vh;
	flex-direction: column;
}

#newBookBtn {
	height: 50%;
	width: 120px;
	background-color: rgb(38, 38, 38);
	color: aliceblue;
	border-radius: 5px;
	font-weight: bold;
	border: none;
}

/*-------------------FORM/MODAL---------------------*/

.modal{
	padding: 1em;
	height: 40vh;
	width: 30vw;
	font-family: 'Source Code Pro', monospace;
}

.modal::backdrop{
	opacity: .4;
	background: linear-gradient(45deg, red, blue);
}

.newBookForm {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: center;
}

.duo {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}